@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


$menu_text_color: whitesmoke;
$nav_background_color: #ff904d;
//$img_background: #2c1709;
$img_background: whitesmoke;
$text_color: #1c1c1c;
$a_hover: #a34e00;
$img_hover: #10101040;
$black_background: #101010;
$orange_background: #fdf5e6;
$modal_background: #101010cc;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max_width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    padding: 15px 0;
    background-color: $nav_background_color;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;

    .max_width {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    a {
        color: $menu_text_color;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
    }

    li {
        list-style: none;
        display: inline-block;

        a:hover {
            color: $a_hover;
            transition: all 0.3s ease;
        }
    }

    .logo {
        a {
            color: $menu_text_color;
            font-size: 35px;
            font-weight: 600;
        }
    }
}

/* Section Inicio */

.Inicio {

    .Inicio_div {
        display: flex;
        margin: auto;
        padding-top: 30px;

        .img_gal {
            img {
                width: 500px;
                border-radius: 10%;
            }
        }
    }

    display: flex;

    height: 100vh;
    background-color: $black_background;
    color: $menu_text_color;
    min-height: 500px;
    font-family: 'Ubuntu',
    sans-serif;

    .max_width {
        margin: auto 0 auto 40px;
    }

    .Inicio_content {
        .Inicio1 {
            font-size: 27px;
        }

        .Inicio2 {
            font-size: 75px;
            margin-left: -3px;
        }

        .Inicio3 {
            font-size: 40px;
            margin: 5px 0;

            span {
                color: $nav_background_color;
                font-weight: 500;
            }
        }
    }
}

.burguer_menu {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: $menu_text_color;
        z-index: 2000;
        margin-top: 6px;
        transform-origin: 0px 100%;
        transition: all 300ms;
    }
}


/* Section Acerca de mi */
#acerca_de_mi {
    padding: 100px 0;
    height: 100vh;
    background-color: $img_background;
}

.acerca_de_mi {
    font-family: "Poppins", sans-serif;
    color: $text_color;


    .titulo {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        padding-bottom: 15px;
        font-family: "Ubuntu", sans-serif;
    }

    .titulo:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 235px;
        height: 3px;
        background-color: $text_color;
        transform: translateX(-50%);
    }

    .titulo::after {
        content: "¿Quién soy?";
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        color: $nav_background_color;
        padding: 5px;
        background-color: $img_background;
        transform: translateX(-50%);
    }

    .acerca_de_mi_content {
        align-items: center;
        justify-content: space-between;

        .text {
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 45px;

            span {
                color: $nav_background_color;
            }
        }

        p {
            text-align: justify;
        }

        a {
            display: inline-block;
            background-color: $nav_background_color;
            color: $menu_text_color;
            font-size: 20px;
            font-weight: 500;
            padding: 10px 30px;
            margin-top: 20px;
            border-radius: 6px;
            border: 2px solid $nav_background_color;
            transition: all 0.3s ease;
        }

        a:hover {
            color: $a_hover;
            background: none;
        }
    }
}

/* Section Habilidades */
#habilidades {
    padding: 100px 0;
    height: 100vh;
    background-color: $orange_background;
}

.habilidades {

    font-family: "Poppins", sans-serif;
    color: $black_background;

    .titulo {
        position: relative;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        padding-bottom: 15px;
        font-family: "Ubuntu", sans-serif;
    }

    .titulo:before {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 235px;
        height: 3px;
        background-color: $black_background;
        transform: translateX(-50%);
    }

    .titulo::after {
        content: "¿Qué cosas sé?";
        position: absolute;
        bottom: -12px;
        left: 50%;
        font-size: 20px;
        color: $black_background;
        padding: 5px;
        background-color: $orange_background;
        transform: translateX(-50%);
    }

    .habilidades_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;

        .skill {
            text-align: center;
            justify-content: center;
        }

        img:hover {
            transition: 0.5s;
            transform: scale(1.25);
            z-index: 1;
            position: relative;
        }

        img {
            height: 100px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

    }
}

/* MODALS */
.modal {
    position: fixed;
    font-family: "Poppins", sans-serif;
    z-index: 3000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal_background;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s .8s;



    .modal_container {
        width: 90%;
        max-width: 900px;
        max-height: 90%;
        background-color: $img_background;
        margin: auto;
        border-radius: 15px;
        padding: 3em 2.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: translateY(-100vh);
        transition: transform .8s;

        .modal_title {
            font-family: 'Ubuntu', sans-serif;
            font-size: 2.5rem;
        }

        .modal_text {
            margin-bottom: 15px;
        }

        .modal_img {
            width: 90%;
            max-width: 150px;
        }

        .modal_close {
            text-decoration: none;
            color: $menu_text_color;
            background-color: $a_hover;
            padding: 1em 3em;
            border: 1px solid;
            border-radius: 6px;
            display: inline-block;
            font-weight: 400;
            transition: background-color .3s;
        }

        .modal_close:hover {
            color: $a_hover;
            background-color: $menu_text_color;
        }


    }
}

.modal_show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .5s;

    .modal_container {
        transform: translateY(0);
        transition: transform .7s .7s;
    }

}

/* CERTIFICADOS Y LOGROS */
#certificados_y_logros {
    padding: 100px 0;
    height: 100vh;
    background-color: $black_background;
    font-family: "Poppins", sans-serif;
    //color: $menu_text_color;
    //color: $black_background;
}

.certificados_y_logros {
    display: grid;
    place-items: center;
    
    .container {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
    }

    .certificados_y_logros_container {
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        gap: 1em;
        justify-content: center;
        padding: 10px;

        .slider_body {
            grid-column: 2/3;
            grid-row: 1/2;
            opacity: 0;
            pointer-events: none;
            background-color: $img_background;
            padding: 25px;
            border-radius: 25px;
            transition: opacity 1s;

            .slider_text {
                h2 {
                    font-size: 2rem;
                    margin-bottom: 30px;
                }

                p {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 1.7;
                }
            }
        }

        .slider_body_show {
            opacity: 1;
            pointer-events: unset;
        }

        .slider_arrow {
            cursor: pointer;

            width: 40px;
            height: 40px;
            background-color: $menu_text_color;
            color: $black_background;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 50%;
        }

        .slider_arrow:hover {
            transform: scale(1.25);
        }
    }
}

.slider {
    padding: 40px 0;
}


/* CONTACTO */
#contacto {
    padding: 100px 0;
    height: 100vh;
    background-color: $img_background;
    font-family: "Poppins", sans-serif;

}

.contacto {
    display: grid;
    place-items: center;

    .contacto_container {
        background-color: $black_background;
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        align-items: center;
        gap: 1em;
        justify-content: center;
        padding: 30px;
        border-radius: 30px;

        p {
            margin-bottom: 40px;
            color: $menu_text_color;
        }

        .btn {
            text-align: center;
           
            a {
                display: inline-block;
                background-color: $nav_background_color;
                color: $menu_text_color;
                font-size: 20px;
                font-weight: 500;
                padding: 10px 30px;
                margin-top: 20px;
                border-radius: 6px;
                border: 2px solid $nav_background_color;
                transition: all 0.3s ease;
            }
    
            a:hover {
                color: $a_hover;
                background: none;
            }
        }
    }
}

/* FOOTER */






/* Responsive media */
@media(max-width: 1190px) {
    .Inicio {
        .Inicio_content {
            .Inicio2 {
                font-size: 60px;
            }

            .Inicio3 {
                font-size: 40px;

                span {
                    color: $nav_background_color;
                    font-weight: 400;
                }
            }
        }

        .Inicio_div {
            .img_gal {
                img {
                    width: 400px;
                    border-radius: 10%;
                }
            }
        }

        .max_width {
            margin-left: 0px;
        }
    }

}


@media(max-width: 900px) {
    .max_width {
        padding: 0 50px;
    }

    /* burguer menu */
    .menu {
        visibility: hidden;
    }

    .burguer_menu {
        width: 25px;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-50%, -50%);
        display: block;

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $menu_text_color;
            margin-top: 6px;
            transform-origin: 0px 100%;
            transition: all 300ms;

        }
    }

    .activeline1_bar_menu {
        z-index: 2000;
        transform: rotate(45deg) translate(-1px, 0);
    }

    .activeline2_bar_menu {
        z-index: 2000;
        opacity: 0;
        margin-left: -25px;
    }

    .activeline3_bar_menu {
        z-index: 2000;
        transform: rotate(-45deg) translate(1px, 0);
    }

    .navbar {

        .menu_burguer {
            visibility: visible;
            position: fixed;
            height: 100vh;
            width: 100%;
            left: 0;
            top: 0;
            background-color: $text_color;
            text-align: center;
            padding-top: 85px;
            transform-origin: 0px 100%;
            transition: all 300ms;
            //display: block;

            li {
                display: block;

                a {
                    display: inline-block;
                    margin: 25px 0;
                    font-size: 25px;
                }

                a:hover {
                    color: $a_hover;
                }
            }
        }

    }

    .Inicio {
        .Inicio_div {
            .img_gal {
                img {
                    width: 250px;
                    border-radius: 10%;
                }
            }
        }
    }
}

@media(max-width: 380px) {
    .Inicio {
        .Inicio_content {
            .Inicio1 {
                font-size: 10px;
            }

            .Inicio2 {
                font-size: 30px;
            }

            .Inicio3 {
                font-size: 15px;

                span {
                    color: $nav_background_color;
                    font-weight: 200;
                }
            }
        }

        .Inicio_div {
            .img_gal {
                img {
                    width: 120px;
                    border-radius: 10%;
                }
            }
        }

        .max_width {
            margin-left: 0px;
        }
    }

    .acerca_de_mi {

        .titulo {
            position: relative;
            text-align: center;
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 30px;
            padding-bottom: 15px;
            font-family: "Ubuntu", sans-serif;
        }

        .acerca_de_mi_content {
            align-items: center;
            justify-content: space-between;

            .text {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 30px;

                span {
                    color: $nav_background_color;
                }
            }

            p {
                text-align: justify;
                font-size: 15px;
            }

            a {
                display: inline-block;
                background-color: $nav_background_color;
                color: $menu_text_color;
                font-size: 15px;
                font-weight: 500;
                padding: 5px 15px;
                margin-top: 15px;
                border-radius: 6px;
                border: 2px solid $nav_background_color;
                transition: all 0.3s ease;
            }

            a:hover {
                color: $a_hover;
                background: none;
            }
        }
    }

}