@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max_width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 15px 0;
  background-color: #ff904d;
  font-family: "Ubuntu", sans-serif;
  z-index: 999;
}
.navbar .max_width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar li {
  list-style: none;
  display: inline-block;
}
.navbar li a:hover {
  color: #a34e00;
  transition: all 0.3s ease;
}
.navbar .logo a {
  color: whitesmoke;
  font-size: 35px;
  font-weight: 600;
}

/* Section Inicio */
.Inicio {
  display: flex;
  height: 100vh;
  background-color: #101010;
  color: whitesmoke;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.Inicio .Inicio_div {
  display: flex;
  margin: auto;
  padding-top: 30px;
}
.Inicio .Inicio_div .img_gal img {
  width: 500px;
  border-radius: 10%;
}
.Inicio .max_width {
  margin: auto 0 auto 40px;
}
.Inicio .Inicio_content .Inicio1 {
  font-size: 27px;
}
.Inicio .Inicio_content .Inicio2 {
  font-size: 75px;
  margin-left: -3px;
}
.Inicio .Inicio_content .Inicio3 {
  font-size: 40px;
  margin: 5px 0;
}
.Inicio .Inicio_content .Inicio3 span {
  color: #ff904d;
  font-weight: 500;
}

.burguer_menu {
  width: 30px;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}
.burguer_menu span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: whitesmoke;
  z-index: 2000;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

/* Section Acerca de mi */
#acerca_de_mi {
  padding: 100px 0;
  height: 100vh;
  background-color: whitesmoke;
}

.acerca_de_mi {
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
}
.acerca_de_mi .titulo {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
}
.acerca_de_mi .titulo:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 235px;
  height: 3px;
  background-color: #1c1c1c;
  transform: translateX(-50%);
}
.acerca_de_mi .titulo::after {
  content: "¿Quién soy?";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #ff904d;
  padding: 5px;
  background-color: whitesmoke;
  transform: translateX(-50%);
}
.acerca_de_mi .acerca_de_mi_content {
  align-items: center;
  justify-content: space-between;
}
.acerca_de_mi .acerca_de_mi_content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 45px;
}
.acerca_de_mi .acerca_de_mi_content .text span {
  color: #ff904d;
}
.acerca_de_mi .acerca_de_mi_content p {
  text-align: justify;
}
.acerca_de_mi .acerca_de_mi_content a {
  display: inline-block;
  background-color: #ff904d;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #ff904d;
  transition: all 0.3s ease;
}
.acerca_de_mi .acerca_de_mi_content a:hover {
  color: #a34e00;
  background: none;
}

/* Section Habilidades */
#habilidades {
  padding: 100px 0;
  height: 100vh;
  background-color: #fdf5e6;
}

.habilidades {
  font-family: "Poppins", sans-serif;
  color: #101010;
}
.habilidades .titulo {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-bottom: 15px;
  font-family: "Ubuntu", sans-serif;
}
.habilidades .titulo:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 235px;
  height: 3px;
  background-color: #101010;
  transform: translateX(-50%);
}
.habilidades .titulo::after {
  content: "¿Qué cosas sé?";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: #101010;
  padding: 5px;
  background-color: #fdf5e6;
  transform: translateX(-50%);
}
.habilidades .habilidades_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
}
.habilidades .habilidades_grid img:hover {
  background-color: rgba(16, 16, 16, 0.2509803922);
  border-radius: 10px;
  transition: 0.5s;
}
.habilidades .habilidades_grid img {
  height: 100px;
  cursor: pointer;
}

/* MODALS */
.modal {
  position: fixed;
  font-family: "Poppins", sans-serif;
  z-index: 3000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(16, 16, 16, 0.8);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s 0.8s;
}
.modal .modal_container {
  width: 90%;
  max-width: 900px;
  max-height: 90%;
  background-color: whitesmoke;
  margin: auto;
  border-radius: 15px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: translateY(-100vh);
  transition: transform 0.8s;
}
.modal .modal_container .modal_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}
.modal .modal_container .modal_text {
  margin-bottom: 15px;
}
.modal .modal_container .modal_img {
  width: 90%;
  max-width: 150px;
}
.modal .modal_container .modal_close {
  text-decoration: none;
  color: whitesmoke;
  background-color: #a34e00;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 400;
  transition: background-color 0.3s;
}
.modal .modal_container .modal_close:hover {
  color: #a34e00;
  background-color: whitesmoke;
}

.modal_show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.5s;
}
.modal_show .modal_container {
  transform: translateY(0);
  transition: transform 0.7s 0.7s;
}

/* Responsive media */
@media (max-width: 1190px) {
  .Inicio .Inicio_content .Inicio2 {
    font-size: 60px;
  }
  .Inicio .Inicio_content .Inicio3 {
    font-size: 40px;
  }
  .Inicio .Inicio_content .Inicio3 span {
    color: #ff904d;
    font-weight: 400;
  }
  .Inicio .Inicio_div .img_gal img {
    width: 400px;
    border-radius: 10%;
  }
  .Inicio .max_width {
    margin-left: 0px;
  }
}
@media (max-width: 900px) {
  .max_width {
    padding: 0 50px;
  }
  /* burguer menu */
  .menu {
    visibility: hidden;
  }
  .burguer_menu {
    width: 25px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    display: block;
  }
  .burguer_menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  .activeline1_bar_menu {
    z-index: 2000;
    transform: rotate(45deg) translate(-1px, 0);
  }
  .activeline2_bar_menu {
    z-index: 2000;
    opacity: 0;
    margin-left: -25px;
  }
  .activeline3_bar_menu {
    z-index: 2000;
    transform: rotate(-45deg) translate(1px, 0);
  }
  .navbar .menu_burguer {
    visibility: visible;
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #1c1c1c;
    text-align: center;
    padding-top: 85px;
    transform-origin: 0px 100%;
    transition: all 300ms;
  }
  .navbar .menu_burguer li {
    display: block;
  }
  .navbar .menu_burguer li a {
    display: inline-block;
    margin: 25px 0;
    font-size: 25px;
  }
  .navbar .menu_burguer li a:hover {
    color: #a34e00;
  }
  .Inicio .Inicio_div .img_gal img {
    width: 250px;
    border-radius: 10%;
  }
}
@media (max-width: 380px) {
  .Inicio .Inicio_content .Inicio1 {
    font-size: 10px;
  }
  .Inicio .Inicio_content .Inicio2 {
    font-size: 30px;
  }
  .Inicio .Inicio_content .Inicio3 {
    font-size: 15px;
  }
  .Inicio .Inicio_content .Inicio3 span {
    color: #ff904d;
    font-weight: 200;
  }
  .Inicio .Inicio_div .img_gal img {
    width: 120px;
    border-radius: 10%;
  }
  .Inicio .max_width {
    margin-left: 0px;
  }
  .acerca_de_mi .titulo {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    padding-bottom: 15px;
    font-family: "Ubuntu", sans-serif;
  }
  .acerca_de_mi .acerca_de_mi_content {
    align-items: center;
    justify-content: space-between;
  }
  .acerca_de_mi .acerca_de_mi_content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .acerca_de_mi .acerca_de_mi_content .text span {
    color: #ff904d;
  }
  .acerca_de_mi .acerca_de_mi_content p {
    text-align: justify;
    font-size: 15px;
  }
  .acerca_de_mi .acerca_de_mi_content a {
    display: inline-block;
    background-color: #ff904d;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
    margin-top: 15px;
    border-radius: 6px;
    border: 2px solid #ff904d;
    transition: all 0.3s ease;
  }
  .acerca_de_mi .acerca_de_mi_content a:hover {
    color: #a34e00;
    background: none;
  }
}

/*# sourceMappingURL=main.css.map */
